CompileFlags:
  Add:
    [
      '-I../src',
      '-I../node_modules/node-addon-api',
      '-I../node_modules/node-api-headers/include',
      '-I../maa/include',
      '-I../../src',
      '-I../../node_modules/node-addon-api',
      '-I../../node_modules/node-api-headers/include',
      '-I../../maa/include',
      '-DNAPI_VERSION=8'
    ]
